/***********************************************
Top bar color 
***********************************************/

/* html {
    /*   border-top: 20px solid #8A85A5; 
	border-top: 65px solid #2d263d;
	 */

/***********************************************
Body styling 
***********************************************/

body {
	/* max-width: 600px; */
	margin: 0 auto;
	padding: 20px 20px;
	font-size: 1.3em;
	line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
	color: rgb(68, 54, 54);
	font-weight: 300;
	background: #61A4A4;
}

/***********************************************
Image styling 
***********************************************/

img {
	border-radius: 10%;
    align-content:center;
	max-width: 80%;
}

/***********************************************
Headline styling 
***********************************************/
h1 {
	margin-top: 5%;
	font-size: 1.5em;
	line-height: .5em;
	color: #332458;
	margin-bottom: 5%;
}

h2 {
	font-size: 1em;
	line-height: 1em;
	font-style: oblique;
	color: rgb(17, 18, 58);

}

h3 {
	font-size: .875em;
	line-height: 1em;
	font-weight: normal;
}

h4 {
	margin-top: 60px;
	font-weight: 500;
    color: #564581;
}
